#wrap {
  background: url('../images/bg.png') repeat-x;
}

.registration-form>div{
    margin-top: -20px;
}

.registration-welcome {
    margin-top: 120px;
    color: white;
    font-size: 20px;
}

.registration-welcome .btn {
    background-color: #2bade3;
}

.registration-footer {
    margin-top: 100px;
}

.sign-up-button {
    background: url('../images/homebutton.png') no-repeat;
    width: 664px;
    height: 209px;
    display: block;
    margin: 0 auto;
    margin-top: -40px;
}

.sign-up-button:hover {
    cursor: pointer;
}
