{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if form.non_field_errors %}
                <div class="alert alert-error bg-danger">
                    <button type="button" class="btn btn-danger close" data-dismiss="alert" aria-hidden="true">×</button>
                    <ul>
                        {% for error in form.non_field_errors %} 
                        <li>{{ error|striptags }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <form method="post" action="{% url 'authentication:password_reset_edit' %}" role="form">
                    {% csrf_token %}
                    {{ form.token }}
                    {% bootstrap_field form.password layout='inline' %}
                    {% bootstrap_field form.confirm_password layout='inline' %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
