{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Welcome to Dentexchange!' %}</title>
</head>
<body>
<body>
    <h1>Dentexchange</h1>
    <p>{% trans 'Hi' %}{% if user.userregistration.first_name %} {{ user.userregistration.first_name }}{% else %} {% trans 'User' %}{% endif %},</p>
    <br />
    <p>{% trans 'Welcome to Dentexchange!' %}</p>
    <br />
    <p>{% trans 'In order to get started, you need to confirm your email address.' %}</p>
    <br />
    <p>{% trans 'Confirm Email Address' %} <a href="http://{{ http_host }}">http://{{ http_host }}</a>
    <br />
    <p>{% trans 'Thank you!' %}</p>
    <br />
    <p>{% trans 'Your Dentexchange Team' %}</p>
</body>
</body>
</html>
