{% extends 'employer/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block profile_extrahead %}
<link href="{% static 'employer/css/job_posting_list.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block profile_scripts %}
<script type="text/javascript" src="{% static 'base/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'employer/js/job_posting_list.js' %}"></script>
{% endblock %}
{% block profile_breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'employer:praxis_profile' %}">&lt; Back to all practices</a></li>
</ol>
{% endblock %}
{% block profile_content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="title">{% trans 'Practice Profile / Job Postings' %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <dl>
            <dt>{{ praxis.company_name }}</dt>
            <dd>{{ praxis.address }}</dd>
        </dl>
    </div>
    <div class="col-sm-5">
        <a href="{% url 'employer:view_praxis' praxis.pk %}" class="btn btn-default">{% trans 'View Practice Profile' %}</a>
        <a href="{% url 'employer:edit_praxis' praxis.pk %}" class="btn btn-default">{% trans 'Edit Practice Profile' %}</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="id_postings_table" class="table table-striped table-hover table-responsive">
        {% for job_posting in object_list %}
            <tr>
                <td>
                    <dl>
                        <dt>{{ job_posting.position_name }}</dt>
                        <dd>{{ job_posting.get_job_position_display }}</dd>
                    </dl>
                </td>
                <td>
                    <p>{{ job_posting.posting_title }}</p>
                    <p>
                        <span class="posting">
                            <span class="glyphicon {% if job_posting.is_posted %}glyphicon-ok-sign{% else %}glyphicon-minus-sign{% endif %}"></span>
                            <a href="{% url 'employer:post_job_posting' job_posting.pk 'offline' %}" class="btn btn-default take-offline-button"{% if not job_posting.is_posted %} style="display:none"{% endif %}>{% trans 'Take offline' %}</a>
                            <a href="{% url 'employer:post_job_posting' job_posting.pk 'online' %}" class="btn btn-default take-online-button"{% if job_posting.is_posted %} style="display:none"{% endif %}>{% trans 'Post Now' %}</a>
                        </span>
                        <a href="{% url 'employer:view_posting' job_posting.pk %}" class="btn btn-default">{% trans 'View' %}</a>
                        <a href="{% url 'employer:edit_posting' job_posting.pk %}" class="btn btn-default">{% trans 'Edit' %}</a>
                    </p>
                </td>
                <td>
                    <div>
                        <p>50 Matches</p>
                        <p>20 Inquires</p>
                    </div>
                </td>
                <td>
                    <div class="actions" style="display: none;">
                        <a class="pull-right remove" href="{% url 'employer:delete_posting' %}?pk={{ job_posting.pk }}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-center empty-results-message">{% trans 'No saved postings.' %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'employer:add_new_posting' praxis.pk %}" class="btn btn-default">{% trans '+ Add New Posting' %}</a>
    </div>
</div>
{% endblock %}
