Basic skills in MS Word, MS Excel, MS PowerPoint
English
German
Portuguese
Spanish
French
Chineese
Japanese
Italian
Very proactive
MS Windows 7
MS Windows 8
Ability to prioritize and multi-task working in busy environments
Dedicated to deadline commitments
Confident working independently or in a team environment
Well developed verbal and written communications skills
Comfortable taking leadership roles
Proven written skills
Extremenly reliable under pressure and conssitently meets deadlines
Experienced public speaker; lectured to a wide variety of audiences
